<section class="container-fluid px-lg-5">
  <app-breadcrumb
    title="{{ 'about_us.title' | translate }}"
    [bgColor]="headerColor()"
  />
</section>

<section class="aboutneque-section pt-80 pb-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>
          Vivamus neque arcu, molestie nec tristique. Quisque congue eget
          consectetur.
        </h2>
      </div>
      <div class="col-lg-6">
        <p>
          Integer feugiat risus eget sodales volutpat. Morbi pulvinar urna ante,
          et efficitur orci mollis sit amet. Aenean luctus neque id leo tempor,
          imperdiet rutrum mauris varius. Nullam metus diam, blandit at sagittis
          id, porttitor in diam.
        </p>
      </div>
      <div class="col-lg-6">
        <p>
          Sed vestibulum ante commodo mattis ultricies. Praesent vitae lorem
          libero. Maecenas eu nibh in nisl sodales sodales. Aenean lobortis erat
          vel justo facilisis, in finibus tortor tristique. Sed dapibus ipsum
          commodo magna tristique, non fringilla est efficitur.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="aboutduis-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="aboutduis-images position-relative">
          <img src="images/aboutduis.png" alt="" />
          <div class="uppar-text">
            Ut aliquam velit nec nisi<br />
            volutpat accumsan.
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="aboutduis-content">
          <h4>
            Duis convallis ante id<br />
            orci vehicula
          </h4>
          <p>
            Sed vel suscipit risus. Duis ex nisi, porttitor id nisi sit amet,
            aliquam sodales nulla.Aenean eu ex vel turpis porta interdum et a
            dui. Integer sed auctor nisl. Praesent auctor ligula at nulla
            aliquam imperdiet.
          </p>
          <p>
            Maecenas eu consequat enim. Phasellus ultricies placerat tellus. Nam
            eu lacus dolor. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-steps-section">
  <div class="container">
    <div class="about-steps-section-block">
      <hgroup class="text-center">
        <h2 class="heading-lg mb-3">Molestie Nec Tristique.</h2>
        <p>
          Integer feugiat risus eget sodales volutpat. Morbi pulvinar urna ante,
          et efficitur orci mollis sit amet. Aenean luctus neque id leo tempor,
          imperdiet rutrum mauris varius. Nullam metus diam, blandit at sagittis
          id, porttitor in diam.
        </p>
      </hgroup>
      <div class="about-steps-area">
        <div class="row g-0 h-100">
          <div class="col-xl-4 col-lg-6">
            <div
              class="about-steps-area-box position-relative bottom-dotted top-solid"
            >
              <div class="card border-0 bg-transparent text-center p-3 p-md-5">
                <div class="card-body">
                  <span
                    class="count-number text-black d-flex align-items-center justify-content-center rounded-pill"
                    >01</span
                  >
                  <h5 class="title-sm mb-2 text-uppercase">Step 01</h5>
                  <h4 class="card-title text-black mb-3">Ut augue mauris</h4>
                  <p class="card-text">
                    Mauris vel vulputate sem. Nam ultrices sed quam eu
                    ullamcorper. Donec tellus justo, lacinia id tellus vitae,
                    porttitor accumsan arcu.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6">
            <div
              class="about-steps-area-box position-relative top-dotted bottom-solid"
            >
              <div class="card border-0 bg-transparent text-center p-3 p-md-5">
                <div class="card-body">
                  <span
                    class="count-number text-black d-flex align-items-center justify-content-center rounded-pill"
                    >02</span
                  >
                  <h5 class="title-sm mb-2 text-uppercase">Step 02</h5>
                  <h4 class="card-title text-black mb-3">Ut rhoncus nisl</h4>
                  <p class="card-text">
                    Aenean dictum dui nec nunc lobortis, quis blandit ante
                    ornare. Nulla id rhoncus est, vitae condimentum metus.
                    Praesent at neque et nulla pulvinar sagittis.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6">
            <div
              class="about-steps-area-box position-relative bottom-dotted top-solid last"
            >
              <div class="card border-0 bg-transparent text-center p-3 p-md-5">
                <div class="card-body">
                  <span
                    class="count-number text-black d-flex align-items-center justify-content-center rounded-pill"
                    >03</span
                  >
                  <h5 class="title-sm mb-2 text-uppercase">Step 03</h5>
                  <h4 class="card-title text-black mb-3">Aliquam libero</h4>
                  <p class="card-text">
                    Fusce tempus, velit ut eleifend mollis, erat elit ornare
                    libero, nec dictum elit lectus id augue. Aenean sed lobortis
                    augue. Praesent at neque id risus tincidunt porta.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-scanme-section">
  <div class="container">
    <div class="about-scanme-block">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="about-scanme-block-left">
            <img
              src="./images/aboutus-scanme.png"
              alt="scan me"
              title="scan Me"
              class="img-fluid w-100"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-scanme-block-right px-0 px-md-4">
            <h3 class="heading-lg">Nullam sit amet volutpat nisl.</h3>
            <ul class="bullet-list-items position-relative bullet-icons">
              <li>
                Vivamus dictum lorem
                <span
                  >Phasellus nisl leo, placerat sit amet massa ut, varius
                  pharetra metus.</span
                >
              </li>
              <li>
                Vivamus dictum lorem
                <span
                  >Phasellus nisl leo, placerat sit amet massa ut, varius
                  pharetra metus.</span
                >
              </li>
              <li>
                Vivamus dictum lorem
                <span
                  >Phasellus nisl leo, placerat sit amet massa ut, varius
                  pharetra metus.</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-commodo-section">
  <div class="container-fluid">
    <div class="about-commodo-block">
      <hgroup class="text-center">
        <h2 class="heading-lg mb-4">
          Pellentesque sit amet
          <span class="highlight-brown text-white">commodo quam,</span> tempor
          molestie nulla. Cras ut sem orci.
        </h2>
        <p class="text-black">Sed congue est nec ex elementum</p>
      </hgroup>
    </div>
  </div>
</section>

<app-faq />

<app-subscribe-email />
