<section class="benefits-section pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="benefits-card">
                    <img class="mb-3 user-select-none" src="./images/b1.png" alt="" />
                    <p>Sed pretium vitae ipsum<br> id viverra.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="benefits-card">
                    <img class="mb-3 user-select-none" src="./images/b2.png" alt="" />
                    <p>Nam accumsan risus fringilla<br> gravida. sollicitudin.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="benefits-card">
                    <img class="mb-3 user-select-none" src="./images/b3.png" alt="" />
                    <p>Integer tellus nisi, varius a<br> facilisis a, dapibus</p>
                </div>
            </div>
        </div>
    </div>
</section>