<section class="features-section px-lg-5 px-3">
    <div class="features-inner">
        <div class="container">
            <div class="section-header mb-5 pb-lg-2">
                <h2>Integer euismod so lorem eu pretium</h2>
                <p>In finibus mauris nec massa tempus blandit. Fusce laoreet sapien<br> id massa volutpat, eget pulvinar
                    sem sollicitudin.</p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="badge"><h2>01</h2></div>
                        <div class="card-body">
                            <h4>Duis convallis ante id orci vehicula</h4>
                            <p>Integer feugiat risus eget sodales volutpat. Morbi pulvinar urna ante, et efficitur orci
                                mollis sit amet. Aenean luctus neque id leo tempor, imperdiet rutrum mauris varius.
                                Nullam metus diam, blandit at sagittis id.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="badge"><h2>02</h2></div>
                        <div class="card-body">
                            <h4>Duis convallis ante id orci vehicula</h4>
                            <p>Integer feugiat risus eget sodales volutpat. Morbi pulvinar urna ante, et efficitur orci
                                mollis sit amet. Aenean luctus neque id leo tempor, imperdiet rutrum mauris varius.
                                Nullam metus diam, blandit at sagittis id.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="badge"><h2>03</h2></div>
                        <div class="card-body">
                            <h4>Duis convallis ante id orci vehicula</h4>
                            <p>Integer feugiat risus eget sodales volutpat. Morbi pulvinar urna ante, et efficitur orci
                                mollis sit amet. Aenean luctus neque id leo tempor, imperdiet rutrum mauris varius.
                                Nullam metus diam, blandit at sagittis id.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="badge"><h2>04</h2></div>
                        <div class="card-body">
                            <h4>Duis convallis ante id orci vehicula</h4>
                            <p>Integer feugiat risus eget sodales volutpat. Morbi pulvinar urna ante, et efficitur orci
                                mollis sit amet. Aenean luctus neque id leo tempor, imperdiet rutrum mauris varius.
                                Nullam metus diam, blandit at sagittis id.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
